<!DOCTYPE html>
<html>
    <head>
        <title>Exercise Tracker App </title>
    </head>
    <body>
        <h1>Exercise App</h1>
        <div class="form-wrapper">
                <form action=" /api/exercise/new-user" method="POST">
                    <label>User Name</label>
                    <input type="text" name="username" placeholder="Enter Your Name" />
                    <input type="submit" name="submit1" value="SAVE YOUR NAME"   />
               
        
                </form>
                <form action="/api/exercise/add" method="POST"> 
                    <input type="number" id="userId" name="userid"value="{userid}" placeholder=" User Id"   />
                    <input type="text" name="desc" placeholder="Description of your Exercise"   />
                    <input type="number" name="time" placeholder="Duration Of Exercise  "   />
                    <input type="" name="" placeholder=" "   />
                    <input type="date" name="date" placeholder="Date Of The Exercise "   />
                    <input type="submit" name="submit2" value="SAVE EXERCİSE!"  />
        
                </form>
        </div>
        






    </body>







</html>